<header>
  <h4>This is a header</h4>
  <% if (locals.links) { %>
  <nav>
    <% links.forEach(link => { %>
    <a href="<%= link.url %>"><%= link.title %> </a>
    <% }) %>
  </nav>
  <% } %>
</header>
