<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hola Mundo!</h1>
    <h2>Hola Mundo!</h2>
    <h3>Hola Mundo!</h3>
    <h4>Hola Mundo!</h4>
    <h5>Hola Mundo!</h5>
    <h6>Hola Mundo!</h6>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet magni
      fugit iste harum facere enim esse, dolore eum ex voluptates quas ullam vel
      officiis nulla est aspernatur non quae veniam nisi voluptatem rerum illo
      explicabo sed recusandae. Quidem, repellendus? Voluptatibus autem, eveniet
      eius possimus asperiores quod accusamus earum doloribus voluptate?
    </p>

    <ol start="5">
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
    </ol>

    <ul>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
    </ul>

    <img src="/img/js.png" alt="Logo de JavaScript" width="200" height="200" />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/200px-HTML5_logo_and_wordmark.svg.png"
      alt="Logo de HTML"
      width="200"
      height="200"
    />

    <a href="/producto">Ir a producto</a>

    <a href="https://google.com" target="_blank">Google</a>
  </body>
</html>
