<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Formularios</title>
  </head>
  <body>
    <h1>Organizando y animando elementos</h1>
    <h2>Organizando y animando elementos</h2>
    <h3>Organizando y animando elementos</h3>
    <h4>Organizando y animando elementos</h4>
    <h5>Organizando y animando elementos</h5>
    <h6>Organizando y animando elementos</h6>
    <a href="#texto1">Texto 1</a>
    <p class="animated">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
      natus ab quis similique earum laudantium modi veritatis. Quas natus
      dolorem voluptatibus sequi error omnis hic quis ullam optio tenetur
      commodi minus quos ducimus, eligendi repudiandae, rem reprehenderit itaque
      repellendus quibusdam cupiditate laborum quasi a! Quibusdam excepturi
      reprehenderit ratione iure minus! Assumenda corporis dicta quam nisi
      ducimus iure labore laborum eligendi beatae veniam, temporibus itaque est
      aut eos inventore quis voluptates dignissimos quibusdam possimus! Sed odio
      tenetur ratione. Tenetur quis aliquam amet dolor cum soluta temporibus
      quidem numquam! Distinctio, rerum. Corporis, quam soluta. Maxime et
      suscipit quia distinctio, facere amet similique.
    </p>
    <!-- <div class="box">soy una caja</div> -->
    <br />
    <div class="box__container">
      <div class="box box1">box 1</div>
      <a class="box box2" href="#">Go to Top</a>
      <div class="box box3">box 3</div>
    </div>
    <div class="try__container">
      <div class="try"></div>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, vel
      a. Cum, rerum! Beatae error cum at distinctio quas vero dicta expedita.
      Recusandae ullam officia voluptatem tempore ad. Cupiditate ut corporis
      iusto assumenda deleniti magni, perspiciatis provident optio ipsum totam
      animi praesentium esse voluptates? Cum error labore iure et expedita, ut
      commodi, nam accusamus excepturi, architecto deserunt dicta sapiente
      molestias! Commodi fugiat distinctio facere qui libero ipsa. Dignissimos
      doloremque quod nam natus dicta ipsum, delectus pariatur laboriosam culpa
      quaerat earum ullam veritatis expedita obcaecati, illum, consectetur
      tenetur excepturi commodi vel suscipit recusandae atque. Debitis iste non,
      distinctio dolore recusandae quam consectetur incidunt veniam quis velit
      saepe vitae soluta dolorum aut nesciunt alias quaerat. Autem nihil modi
      aspernatur eum veniam distinctio cupiditate dolore labore qui sint
      consequatur, reprehenderit fugit facilis quos pariatur vero maiores atque
      culpa mollitia laudantium quia eligendi porro. Porro maxime adipisci nulla
      deserunt facere dolor autem aspernatur numquam modi asperiores excepturi
      quas accusamus beatae voluptates tempora obcaecati natus reiciendis eos
      delectus maiores fugit rem, ea omnis? Qui fugiat amet ea blanditiis et
      perferendis esse labore omnis quibusdam ducimus illo consequuntur ipsam
      tenetur similique sed saepe adipisci veniam illum nesciunt mollitia aut,
      optio laudantium neque vel! Fugiat, possimus quasi?
    </p>
    <p id="texto1">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus vero
      recusandae soluta similique dignissimos ex praesentium sapiente, cum
      officiis asperiores sint porro maxime voluptates doloremque placeat? Quae
      laborum voluptates numquam nemo rerum debitis quo explicabo voluptatum
      obcaecati cum modi quisquam magnam harum delectus ducimus accusantium,
      ratione quod, quos totam dolorem laudantium illo omnis. Iusto officia
      autem laborum doloremque quasi soluta quae perspiciatis, nam pariatur
      veritatis ipsa commodi recusandae eos saepe blanditiis? Hic corporis
      delectus, tempore incidunt molestias id enim quo velit eos? Aspernatur
      expedita ea corporis tenetur quidem minima esse repellendus fugiat, illo
      sit error dolores nihil perspiciatis quod laudantium ut dolor. Quisquam
      deleniti quas sint hic libero eius ut iusto saepe aliquid totam? Beatae
      adipisci suscipit deserunt tempore non dolores praesentium dolore
      consequatur incidunt reprehenderit architecto amet voluptate dolorem odit
      totam repudiandae, ea ducimus reiciendis? Est, provident. Iusto dolore
      vero officiis, enim illo exercitationem ut itaque in eius excepturi
      molestiae nesciunt magni quas repellat quia quaerat incidunt debitis fuga
      temporibus? Assumenda ex, accusantium, nihil provident odit repellendus
      doloremque modi, laborum blanditiis excepturi quas maxime? Recusandae
      debitis natus soluta. Tempore nesciunt magnam quas amet pariatur, dolorem
      recusandae facere, laboriosam culpa at, consectetur voluptatem quis rem
      dolor! Provident magnam quo neque facilis temporibus dolores eum quae.
      Molestiae, ut consectetur id eius vero quisquam, nulla sequi neque
      similique, commodi quas accusamus voluptatibus cumque? A aperiam illum
      recusandae necessitatibus, expedita repudiandae minus voluptate vitae nemo
      assumenda atque similique numquam consequuntur sed distinctio beatae
      incidunt pariatur quis voluptatibus eveniet modi! Dignissimos ea unde,
      fuga numquam delectus debitis. Assumenda placeat labore suscipit
      explicabo, ipsa expedita unde odio nobis modi corrupti exercitationem
      accusamus tempore libero ex? Numquam harum dolorem dolor corporis minima
      asperiores hic iure sequi voluptates assumenda facilis illo tenetur
      debitis, facere voluptate delectus quod corrupti perferendis, qui
      accusamus repudiandae, ea nam! Porro nisi quibusdam iusto aperiam
      accusamus ipsa, ex nesciunt, facilis velit, debitis sunt ipsum inventore
      eaque reprehenderit pariatur nobis quo? Consequuntur ea excepturi
      accusantium maiores vero corrupti quam quos iusto deserunt nesciunt, sequi
      rem dolorum at, sunt autem non quidem id esse earum, eligendi ipsa?
      Aliquam recusandae odit unde et consectetur corrupti corporis quibusdam,
      praesentium tenetur eveniet modi voluptas beatae impedit, dicta
      doloremque? Atque quaerat fuga, aspernatur laudantium repudiandae nobis
      maiores. Ea modi ipsam dignissimos odio mollitia accusamus error amet
      culpa? Et id perferendis molestias accusantium dolore nemo libero ex
      voluptatibus pariatur, ipsam eum magnam rem perspiciatis! Atque tempore
      dolor sapiente molestias dolore!
    </p>
  </body>
</html>
