<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h1><%= locals.title %></h1>
      <p class="eresMayorDeEdad"></p>
    </main>
    <%- include('../partials/footer') %>

    <script src="/js/mayoriaDeEdad.js"></script>
  </body>
</html>
